<template name="deleteCardForm">
    <div class="modal fade" id="deleteCardModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteCardTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-trash"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="deleteCardTitle" class="modal-title">{{_ "deletecard"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.deleteCard"}}
                </div>
                <div class="modal-footer">
                    <button id="deleteCardConfirm" class="btn btn-raised btn-warning pull-right">{{_
                            "deletecard"}}</button>
                    <button id="deleteCardDismiss" class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
